.App {
  text-align: center;
}
.buttonDivCategory {
  margin-top: 10px;
}
.categoryTitle {
  color: #3f51b5;
  margin: 5px;
}
.tableMargin {
  margin-top: 42px;
}
.container {
  margin-left: 40px;
}
.containerDashboard {
  margin-left: 65px;
}
.imageStyle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 163px;
}
