.App {
  text-align: center;
}
.buttonDivCategory {
  margin-top: 10px;
}
.categoryTitle {
  color: #3f51b5;
  margin: 5px;
}
.tableMargin {
  margin-top: 42px;
}
.imageStyle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.imageStyleCart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 230px;
}
.productTitle {
  color: "#3f51b5";
  font-weight: bold;
}
.backToDashboard {
  margin-right: 167px;
}
